---
http_interactions:
- request:
    method: get
    uri: http://universities.hipolabs.com/search?name=Politehnica
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"web_pages": ["http://www.pub.ro/"], "alpha_two_code": "RO", "state-province":
        null, "country": "Romania", "domains": ["pub.ro"], "name": "University Politehnica
        of Bucharest"}]'
  recorded_at: Mon, 04 Mar 2019 13:13:31 GMT
recorded_with: VCR 4.0.0
