---
http_interactions:
- request:
    method: get
    uri: http://universities.hipolabs.com/search?country=Romania
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"web_pages": ["http://www.aistedaab.ro/"], "alpha_two_code": "RO",
        "state-province": null, "country": "Romania", "domains": ["aistedaab.ro"],
        "name": "AISTEDA"}, {"web_pages": ["http://www.amgd.eu/"], "alpha_two_code":
        "RO", "state-province": null, "country": "Romania", "domains": ["amgd.eu"],
        "name": "Academy of Music \"Georghe Dima\" Cluj-Napoca"}, {"web_pages": ["http://www.anefs-edu.ro/"],
        "alpha_two_code": "RO", "state-province": null, "country": "Romania", "domains":
        ["anefs-edu.ro"], "name": "National Academy for Physical Education and Sports
        Bucharest"}, {"web_pages": ["http://www.arteiasi.ro/"[...]
